
- name: Bonding helpers
  become: true
  template:
    src: "{{ item.name }}.j2"
    dest: "{{ item.path }}/{{ item.name }}"
    mode: 0755
  with_items:
    - { name: network.sh,               path: /boot/preseed }
    - { name: 70-persistent-net.rules,  path: /boot/preseed/etc/udev/rules.d }
    - { name: S25bonding-interfaces,    path: "/boot/preseed{{ debian_installer_path }}" }
    - { name: if-keep-up.sh,            path: /boot/preseed/usr/bin }
  notify: Repack-initrd
