{% for interface in ansible_interfaces|sort %}
{% set iface = ansible_facts[interface] %}
{% if iface.type is defined and iface.type == "ether" and (not interface.startswith('cali')) %}
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="{{ iface.perm_macaddress | default(iface.macaddress) }}", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="eth*", NAME="{{ interface }}"
{% endif %}
{% endfor %}
