#!/bin/sh
exec tail -n +3 $0

menuentry "Debian Net Installer" {
    linux ($root)/debian-kernel {{ debian_cmdline }} {{ debian_cmdline_net }} {{ debian_cmdline_addon }}
    initrd ($root)/debian-initrd.xz
}
